body {
  font-family: "Lora", serif;
  color: #707070; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", sans-serif;
  color: #000000;
  margin: 0 0 0.5em 0; }

/* Traditional typographic scale
48, 36, 24, 21, 18, 16 */
h1 {
  font-size: 3em;
  line-height: 1em; }

/* 48 / 16 = 3em */
h2 {
  font-size: 2.25em;
  line-height: 1.1em; }

/* 36 / 16 = 2.25em */
h3 {
  font-size: 1.5em;
  line-height: 1.2em; }

/* 24 / 16 = 1.5em */
h4 {
  font-size: 1.3125em;
  line-height: 1.3em; }

/* 21 / 16 = 1.3125em */
h5 {
  font-size: 1.125em;
  line-height: 1.4em; }

/* 18 / 16 = 1.125em */
h6 {
  font-size: 1em;
  line-height: 1.5em; }

/* 16 / 16 = 1em */
p {
  margin: 0 0 0.5em 0;
  max-width: 38em;
  font-family: "Lora", serif; }

/* horizontal line */
hr {
  border: 0;
  height: 1px;
  margin: 3em 0;
  background: #ddd; }

/* HELPERS */
.headline {
  font-size: 4em;
  color: #000000;
  margin: 0; }

.subheadline {
  font-family: "Lora", serif;
  font-size: 2.5em;
  font-weight: normal;
  color: #7E7E7E;
  margin: 0.25em 0 0.5em 0; }

.meta {
  font-size: 0.875em;
  color: #B1B1B1;
  margin-bottom: 1.5em; }

/*
CSS TABLE OF CONTENTS

#TYPOGRAPHY
#BUTTONS
#LAYOUTS
    #GRID
------------------------ */
