// VARIABLES 

$type-base: 'Lora', serif;
$type-heading: 'Muli', sans-serif;
$type-line-width: 38em;

//TYPE COLORS
$type-color-body: #707070;
$type-color-headline: #000000;
$type-color-subheadline: #7E7E7E;
$type-color-meta: #B1B1B1;

//COLORS


@import "partials/typography";
@import "partials/toc";