/* SITE STRUCTURE */
.site-header,
.site-footer {
    background: $header-footer;

    a {
        color: white;
        text-decoration: none;
        font-family: $type-heading;
    }

    a:hover {
        color: rgba(255, 255, 255, 0.692);
    }

    .site-navigation {
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            @media (max-width: $breakpoint-small -1) {
                display: block;
            }
        }
    

        a {
            display: block;
            padding: 1.6em 1em 1.4em 1em;

            @media (max-width:$breakpoint-small -1) {
                padding: 0.5em 1em;
            }
        }

        a:hover {
            color: rgba(255, 255, 255, 0.692);
        }
    }
}
    
.site-header {
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint-small -1) {
        display: block;
        padding: 1em 0;
    }

    .site-identity {
        h1 {
            font-size: 1.5em;
            margin: 0;
            a {
                padding: 1em;
                display: block;
            }
        }
    }
}

.site-footer {
    ul {
        justify-content: center;
    }
}

section {
    padding: 3em 0;
}

.hero {
    background-color: $hero-background-color;
    padding: 5em 0;
    //text-align: center;
    //p {
    //    max-width: none;
    //    margin-left: auto;
    //    margin-right: aito;
    //}
}

.sectionhead {
    font-family: $type-base;
    font-size: 1em;
    font-weight: none;
    font-style: italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sectionhead:after {
    content: "";
    display: block;
    border-bottom: 3px dotted $link-color-dark;
    width: 100px;
    margin: 1em auto 3em auto;
}